<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/anil.png" alt="cat profile">
<p>
  Hello! I'm Anil, a dedicated and passionate computer science student set to graduate next year. Currently, I'm enhancing my software engineering skills, primarily focusing on Android app development using Kotlin and Jetpack Compose. I thrive on creating intuitive and engaging mobile experiences, and I'm always eager to tackle new challenges in the tech world.
<br>
<br>
In addition to my academic pursuits, I've applied my knowledge in practical projects, such as building a Windows App that replicates Google Forms using Visual Basic and TypeScript. I am also developing a trivia quiz app for both web and Android platforms, leveraging Firebase to handle backend functionalities.
<br>
<br>
My journey in the world of technology isn't just limited to app development. I'm also delving into data structures and algorithms with C++ and refining my problem-solving skills on LeetCode. This practice ensures that I approach software development with a strong foundation and an analytical mindset.
<br>
<br>
Beyond my personal projects, I enjoy teaching and have introduced beginner kids to Python programming, covering topics like conditionals, loops, functions, and turtle graphics. Seeing them grasp the concepts and create their first programs is incredibly rewarding.
<br>
<br>
When I'm not coding, you'll find me optimizing my Lenovo IdeaPad Gaming 3 laptop for better performance, staying updated with the latest in tech, or exploring new tools and technologies that can streamline development processes.
<br>
<br>
I look forward to connecting with like-minded individuals, collaborating on exciting projects, and contributing to innovative solutions that make a difference.</p>
<br>
<br>
<%- include("partials/footer.ejs") %>