<%- include("partials/header.ejs") %>
<h1>Create Blog</h1>
<form action="/submit" method="POST">
  <input name="heading" type="text" class="feedback-input" placeholder="Heading" />
  
  <textarea name="text" class="feedback-input" placeholder="Your blog goes here "></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>