<%- include("partials/header.ejs") %>


  <h1>Welcome to Anil's Blogs</h1>

  <h3>Explore a Variety of Topics with Ease</h3>

  <p>Hello, and welcome to my demo blog! This site is designed to showcase a collection of blogs on a wide range of topics. Whether you're looking for tech insights, lifestyle tips, travel stories, or anything in between, you'll find a diverse selection of content here.
  </p>
  <h4>Here Goes the List of Blogs:- </h4>

  <%if(locals.blogs){%>
    <ul>
      <% for(var i=0;i<blogs.length;i++){ %>
        <!-- Add your actions to these list items -->
        <li>
           <a href="/blog/<%= blogs[i].id %>"> <%= blogs[i].title %> </a> 
        </li>
      <% } %>
    </ul>
  <% } %>

  <%- include("partials/footer.ejs") %>